@import './settings';

.about {
    display: flex;
    height: fit-content;
    padding: $section_padding;
   .left {
       width: 50%;
       .heading {
        color: #0f0f13;
        font-size: $large;
        font-weight: 900;
        line-height: 58px;
        margin: 0px 0px 20px ;
        text-transform: uppercase; 
        width: $full_size;
     }

       .img_smallscreen{
           display: none;
           height: 350px;
           padding-top: 0px;
           width: $full_size;
           img{
                height: $full_size;
                object-fit: contain;
                width: $full_size;
         }
       }
       .paragraph1{
        color: #0f0f13;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        width: auto;

       
       }
       .paragraph2{
                color: #0f0f13;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                margin: $large 0 40px;
                padding-top: 0px;
                span{
                    color: #0f0f13;
                    font-weight: bolder;
                  }
               
       }
    }
    .right{
            height: 700px;
            width: 50%;

        h3{
            font-size: 22px;
            margin: 20px;
            padding: 10px;
        
        }
        .img_container{

            border-radius: 8px;
            height: 350px;
            min-width: 90%;
            max-width: 81%;
            margin: auto;

            img{
                height: $full_size;
                width: $full_size;
                object-fit: contain;
                
            }
        }

        .list_container{
            display: flex;
            margin: auto;
            padding: 10px;
            justify-content: space-between;
            width: $full_size;
            height: 30%;
            ul{
                list-style: none;
                margin: auto;
                width: $full_size;
                height: $full_size;
                li{
                    font-size: 20px;
                    padding: 3px;
                    i{
                        color: #0f0f13;
                        font-size: 26px;
                        padding-right: 10px;
                    }
                }
            }

        }
         .list_container_mobile {
            display: none;
        }
    }
}
    

//TABLET SIZE 

@media screen and (max-width: 920px){
    .about{
        flex-direction: column;
        .left{
            order: 1;
            
            margin: 0 auto;
            width: 95%;
            .heading{
                width: $full_size;
                text-align: center;
            }
            .img_smallscreen{
                display: block;
                margin: 0 0 20px 0;
            }
        }

        .right{
            height: fit-content;
            margin: 0 auto;
            order: 1;
            width: 95%;
           
            .img_container{
                display: none;
                height: 10px;
                width: 10px;
          }
            h3{
                font-size: 22px;
                text-align: center;
             }
            }
         }
     }

     //MOBILE SIZE AND BELOW 

     @media screen and (max-width: 638px) {
        .about{
            padding: 40px 20px;
            .left{
                .heading, .paragraph1, .paragraph2{
                    width: 100%;
                }
                .paragraph1, .paragraph2{
                    line-height: 1.8;
                }
                .img_smallscreen{
                    min-width: 100%;
                    max-width: 90%;
                }
            }
     
            .right{
                .img_container{
                    width: 450px;
                }
                h3{
                    font-size: 24px;
                }
            }
        }
     }

     @media screen and (max-width: 530px){
         .about .right .list_container{
             display: none;
         }

         .about .right .list_container_mobile {
             
             display: block;
             ul{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items:center;
                align-content: center;
                flex-direction: column;
                li{
                    font-size: 20px;
                    padding: 3px;
                    i{
                        color: black ;
                        font-size: 26px;
                        padding-right: 10px;
                    }
                }

             }

         }
     }

     @media screen and (max-width: 380px){
         .about .left .heading{
             font-size: 40px;
             margin: 0;
         }
         .about .left .img_smallscreen{
             margin: 0;
         }

     }