header {
  background: url("/images/wallpaperflare.com_wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
}

header .overlay input[type="checkbox"] {
  display: none;
}

header .overlay input[type="checkbox"]:checked + .mobile-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .overlay .icons i:hover {
  cursor: pointer;
  opacity: 0.7;
}

header .overlay .mobile-nav {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  overflow: hidden;
  padding: 16px 20px 16px 16px;
  position: fixed;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  width: 100%;
  z-index: 3;
}

header .overlay .mobile-nav label i {
  color: white;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  margin: 5px;
  right: 0;
}

header .overlay .mobile-nav label i:hover {
  color: rgba(255, 255, 255, 0.7);
}

header .overlay .mobile-nav ul {
  height: 80vh;
  list-style: none;
  margin-bottom: 30px;
}

header .overlay .mobile-nav ul li a {
  color: white;
  display: block;
  font-size: 32px;
  font-weight: normal;
  margin: 50px;
  text-align: center;
  text-decoration: none;
}

header .overlay .mobile-nav ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

header .overlay .header_nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
}

header .overlay .header_nav h3 {
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px;
  padding: 10px;
}

header .overlay .header_nav h3 a {
  color: white;
  text-decoration: none;
}

header .overlay .header_nav h3 a:hover {
  color: black;
}

header .overlay .header_nav h3:hover {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background: white;
}

header .overlay .header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .overlay .header_nav ul li {
  margin: 20px;
  list-style: none;
}

header .overlay .header_nav ul li a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

header .overlay .header_nav ul li a:hover {
  border-bottom: 2px solid white;
  font-weight: 800;
  padding: 10px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header .overlay .header_nav .mobile_menu {
  display: none;
  margin-right: 30px;
}

header .overlay .header_nav .mobile_menu .burger {
  background-color: #fff;
  height: 5px;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 35px;
}

header .overlay .icons {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  position: absolute;
  top: 50%;
  width: 30px;
}

header .header_main {
  color: white;
  font-family: 'Roboto', sans-serif;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .header_main h1 {
  font-size: 48px;
  text-align: center;
}

header .header_main h3 {
  font-size: 32px;
  text-align: center;
}

header .header_main h4 {
  border: 1px solid silver;
  cursor: pointer;
  font-size: 20px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 200px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header .header_main h4:hover {
  background: #fff;
  color: black;
}

header .header_main h4 a {
  color: white;
  text-decoration: none;
}

header .header_main h4 a:hover {
  color: black;
}

header .header_main .profile_pic {
  height: 300px;
  margin: 0 auto;
  width: 300px;
}

header .header_main .profile_pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 920px) {
  header .overlay .header_nav ul {
    display: none;
  }
  header .overlay .header_nav .mobile_menu {
    display: block;
    margin: 10px;
    cursor: pointer;
  }
  header .overlay .header_nav .mobile_menu:hover {
    color: silver;
  }
}

@media screen and (max-width: 638px) {
  .home {
    padding: 40px 20px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 120px 8vw;
}

.about .left {
  width: 50%;
}

.about .left .heading {
  color: #0f0f13;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  margin: 0px 0px 20px;
  text-transform: uppercase;
  width: 100%;
}

.about .left .img_smallscreen {
  display: none;
  height: 350px;
  padding-top: 0px;
  width: 100%;
}

.about .left .img_smallscreen img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.about .left .paragraph1 {
  color: #0f0f13;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  width: auto;
}

.about .left .paragraph1 span {
  color: turquoise;
  font-weight: bolder;
}

.about .left .paragraph2 {
  color: #0f0f13;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 48px 0 40px;
  padding-top: 0px;
}

.about .right {
  height: 700px;
  width: 50%;
}

.about .right h3 {
  font-size: 22px;
  margin: 10px;
  padding: 10px;
}

.about .right .img_container {
  border-radius: 8px;
  height: 350px;
  min-width: 90%;
  max-width: 81%;
  margin: auto;
}

.about .right .img_container img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about .right .list_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 30%;
}

.about .right .list_container ul {
  list-style: none;
  margin: auto;
  width: 100%;
  height: 100%;
}

.about .right .list_container ul li {
  font-size: 20px;
  padding: 3px;
}

.about .right .list_container ul li i {
  color: turquoise;
  font-size: 26px;
  padding-right: 10px;
}

.about .right .list_container_mobile {
  display: none;
}

@media screen and (max-width: 920px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
    width: 95%;
  }
  .about .left .heading {
    width: 100%;
    text-align: center;
  }
  .about .left .img_smallscreen {
    display: block;
    margin: 0 0 20px 0;
  }
  .about .right {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 95%;
  }
  .about .right .img_container {
    display: none;
    height: 10px;
    width: 10px;
  }
  .about .right h3 {
    font-size: 22px;
    text-align: center;
  }
}

@media screen and (max-width: 638px) {
  .about {
    padding: 40px 20px;
  }
  .about .left .heading, .about .left .paragraph1, .about .left .paragraph2 {
    width: 100%;
  }
  .about .left .paragraph1, .about .left .paragraph2 {
    line-height: 1.8;
  }
  .about .left .img_smallscreen {
    min-width: 100%;
    max-width: 90%;
  }
  .about .right .img_container {
    width: 450px;
  }
  .about .right h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 530px) {
  .about .right .list_container {
    display: none;
  }
  .about .right .list_container_mobile {
    display: block;
  }
  .about .right .list_container_mobile ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .right .list_container_mobile ul li {
    font-size: 20px;
    padding: 3px;
  }
  .about .right .list_container_mobile ul li i {
    color: turquoise;
    font-size: 26px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 380px) {
  .about .left .heading {
    font-size: 40px;
    margin: 0;
  }
  .about .left .img_smallscreen {
    margin: 0;
  }
}

.skills {
  background: rgba(0, 0, 0, 0.8);
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 30px;
  padding: 60px 5vw;
}

.skills .heading {
  color: white;
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
}

.skills .skills_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.skills .skills_content .skills_content_card {
  border-radius: 8px;
  -webkit-box-shadow: 3px 5px 5px 1px #f7f6f6;
          box-shadow: 3px 5px 5px 1px #f7f6f6;
  margin: 5px 0;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  width: 130px;
}

.skills .skills_content .skills_content_card h3 {
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.skills .skills_content .skills_content_card img {
  height: 70%;
  margin: 5px 0 0 10px;
  width: 90%;
}

@media screen and (max-width: 1180px) {
  .skills .skills_content {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 920px) {
  .skills .heading {
    text-align: center;
  }
  .skills .skills_content {
    padding: 0 auto;
  }
}

@media screen and (max-width: 638px) {
  .skills {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 530px) {
  .skills .skills_content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.projects {
  background: #fff;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 120px 8vw;
}

.projects .projects_mobile {
  display: none;
}

.projects .heading {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  width: 100%;
}

.projects .projects_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 100%;
}

.projects .projects_gallery .project_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  width: 600px;
}

.projects .projects_gallery .project_card .info {
  width: 40%;
  margin: 10px;
}

.projects .projects_gallery .project_card .info h4 {
  text-decoration: underline;
}

.projects .projects_gallery .project_card .info h4, .projects .projects_gallery .project_card .info h5, .projects .projects_gallery .project_card .info ul {
  margin: 10px;
}

.projects .projects_gallery .project_card .info button {
  background: black;
  color: white;
  cursor: pointer;
  height: 40px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  width: 100px;
}

.projects .projects_gallery .project_card .info button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.projects .projects_gallery .project_card .info button a {
  color: white;
}

.projects .projects_gallery .project_card .info li {
  list-style: circle;
}

.projects .projects_gallery .project_card .image {
  width: 60%;
}

.projects .projects_gallery .project_card .image img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

@media screen and (max-width: 1448px) {
  .projects .project_card {
    margin: 30px auto;
  }
}

@media screen and (max-width: 920px) {
  .projects .heading {
    text-align: center;
  }
}

@media screen and (max-width: 638px) {
  .projects {
    padding: 40px 20px;
  }
  .projects .project_card {
    height: 550px;
    width: 100%;
  }
  .projects .project_card .info {
    width: 60%;
  }
  .projects .project_card .img {
    width: 40%;
  }
}

@media screen and (max-width: 530px) {
  .projects .projects_gallery .project_card .info button {
    background: black;
    margin: 5px 0 0 20px;
  }
  .projects .projects_gallery .project_card .info button a {
    color: white;
  }
}

@media screen and (max-width: 380px) {
  .projects .projects_mobile {
    display: block;
  }
  .projects .projects_mobile .projects_mobile_card {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    margin: 30px 10px;
  }
  .projects .projects_mobile .projects_mobile_card h4 {
    font-size: 20px;
    text-decoration: underline;
    margin: 15px 0;
  }
  .projects .projects_mobile .projects_mobile_card ul {
    list-style: circle;
    margin: 15px 5px;
  }
  .projects .projects_mobile .projects_mobile_card .project_mobile_card_img {
    width: 300px;
    height: 350px;
    margin: 15px 0px;
  }
  .projects .projects_mobile .projects_mobile_card .project_mobile_card_img img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .projects .projects_mobile .projects_mobile_card .project_mobile_button_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .projects .projects_mobile .projects_mobile_card .project_mobile_button_wrapper button {
    background: black;
    color: white;
    cursor: pointer;
    height: 40px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    width: 100px;
  }
  .projects .projects_mobile .projects_mobile_card .project_mobile_button_wrapper button:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .projects .projects_mobile .projects_mobile_card .project_mobile_button_wrapper button a {
    color: white;
    text-decoration: none;
  }
  .projects .projects_gallery {
    display: none;
  }
}

.contact {
  height: 80vh;
  padding: 20px 8vw;
  position: relative;
}

.contact .mobile_form {
  display: none;
}

.contact .heading {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  color: black;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
}

.contact .contact_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.contact .contact_container .contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}

.contact .contact_container .contact_info li {
  list-style: none;
  padding: 10px;
}

.contact .contact_container .contact_info li:hover {
  opacity: 0.7;
}

.contact .contact_container .contact_info li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.contact .contact_container .contact_info li a i {
  font-size: 40px;
}

.contact .contact_container .contact_info li a .fa-star-of-life {
  color: turquoise;
}

.contact .contact_container .contact__form {
  width: 30%;
  min-width: 300px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07);
  padding: 3rem 3.9rem;
  position: relative;
  right: 0;
  bottom: -10rem;
  background-color: #fff;
  border-radius: 8px;
}

.contact .contact_container .contact__form .form_group {
  display: block;
}

.contact .contact_container .contact__form .form_group input, .contact .contact_container .contact__form .form_group textarea {
  margin: 10px 0;
  padding: 5px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
}

.contact .contact_container .contact__form .form_group button {
  background-color: black;
  cursor: pointer;
  color: #fff;
  display: block;
  height: 40px;
  margin-top: 5px;
  width: 100%;
}

.contact .contact_container .contact__form .form_group button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  background: rgba(0, 0, 0, 0.8);
  height: 30vh;
  display: block;
  padding: 120px 8vw;
}

.footer .footer_container {
  border-top: 2px solid white;
  width: 50%;
}

.footer .footer_container i {
  color: white;
  margin: 10px 3px;
  font-size: 22px;
}

.footer .footer_container h4 a {
  color: white;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
}

.footer .footer_container h4 a:hover {
  opacity: 0.7;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'muli', sans-serif;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 920px) {
  .contact {
    margin-bottom: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contact .heading {
    text-align: center;
  }
  .contact .mobile_form {
    display: block;
    border-radius: 8px;
    margin: 30px 20px;
  }
  .contact .mobile_form .contact__form {
    min-width: 280px;
    padding: 3rem 1.9rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contact .mobile_form .contact__form h3 {
    width: 70%;
    margin: auto;
  }
  .contact .mobile_form form {
    margin: 20px auto;
    border-radius: 8px;
    padding: 8px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07);
    height: 300px;
    width: 60%;
  }
  .contact .mobile_form form .form_group {
    display: block;
    width: 80%;
    margin: auto;
  }
  .contact .mobile_form form .form_group input, .contact .mobile_form form .form_group textarea {
    margin: 10px 0;
    padding: 5px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
  }
  .contact .mobile_form form .form_group button {
    background-color: black;
    cursor: pointer;
    color: #fff;
    display: block;
    height: 40px;
    margin: 5px auto;
    width: 80%;
  }
  .contact .mobile_form form .form_group button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .contact .contact_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact_container .contact__form {
    position: unset;
    border: 2px solid red;
    display: none;
  }
  .footer {
    margin-top: 100px;
  }
}

@media screen and (max-width: 638px) {
  .home, .about, .projects, .skills, .contact, .footer {
    padding: 40px 20px;
  }
}
/*# sourceMappingURL=style.css.map */